* {
  box-sizing: border-box !important;
  outline: none;
}

:root {
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100vw;
  min-width: 100vw;
  text-align: center;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

h1, h2, h3, h3, h5, h6, p, span, li {
  align-text: left;
  text-align: left;
}
